.resultContainer {
  position: relative;
  top: 30%;
  text-align: center;
}

.result {
  font-size: 2rem;

}

.primebtn {
  /* position: relative;
  display: inline-block; */
  border-radius: 6em;
  border: none;
  text-decoration: none!important;
  font-size: 1em;
  font-weight: 400;
  background-color: #03c9a9;
  color: #fff;
  overflow: hidden;
  margin: 1.5em 2.5em 0px 0px;
  padding: 1em 2em;
  cursor: pointer;
}
