<div class="list-group">
  <label class="list-group-item" *ngFor="let vehicle of vehicleDetails" style="background: transparent !important; color: white;">
    <input class="form-check-input me-1" type="radio" name="{{currentPlanet.name}}_spaceVehicle" value="{{vehicle.name}}"
    [checked]="selectedVehicle == vehicle.name" (change)="onVehicleselect($event, currentPlanet.name, vehicle.name)"
    [disabled]="((currentPlanet.distance > vehicle.max_distance) || (vehicle.total_no <= 0))">
    {{vehicle.name}}
    <span class="badge bg-primary rounded-pill" style="background-color: #30c9a9!important;">{{vehicle.total_no}}</span>
  </label>
</div>
