.primebtn {
  /* position: relative;
  display: inline-block; */
  border-radius: 6em;
  border: none;
  outline: 0;
  text-decoration: none!important;
  font-size: 1em;
  font-weight: 400;
  background-color: #03c9a9;
  color: #fff;
  overflow: hidden;
  margin: 1.5em 2.5em 0px 0px;
  padding: 1em 2em;
  cursor: pointer;
}

.planetcontainer {
  display: flex;
  padding: 0;
  /* margin: 5rem 0; */
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
}

.cards {
  margin: 2rem;
  width: 16%;
  perspective: 600px;
  transform-style: preserve-3d;

}

.card-item {
  /* position: absolute; */
  /* background-color: #fff; */
  background: transparent;
  /* color: black; */
  color: white;
  border-radius: 6px;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  overflow: hidden;
  transition: transform 0.5s;
  backface-visibility: hidden;

  /* border: 2px solid; */
  /* border-image-source: linear-gradient(
60deg
, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); */
  /* border-image-source: linear-gradient(315deg, #4dff03, #00d0ff);;
  border-image-slice: 30; */

}

.card-front {
  position: absolute;
  transform: rotateY(0);
}

.card-back {
  transform: rotateY(-180deg);
}

.cards:hover  .card-front{
  transform: rotateY(180deg);
}

.cards:hover  .card-back{
  transform: rotateY(0deg);
}

.hideElements {
  display: none;
}

/* animation */

.animIn{
  animation: test1 1s ease 1s 1 both;
}
.animOut{
  animation: test2 1s ease 1s 1 both;
}

@keyframes test1 {
  0%{ transform: translateX(100%);}
  100%{transform: translateX(0%);}
}
@keyframes test2 {
  0%{ transform: translateY(0%);}
  100%{transform: translateY(300%);}
}

/* // Content */
.cards  .card-info {
display: flex;
flex: 1 1 auto;
flex-direction: column;
padding: 1rem;
line-height: 1.5em;
}

.cards  .card-title {
font-size: 25px;
line-height: 1.1em;
/* color: #32325d; */
margin-bottom: 0.2em;
}

/* // Images */
.cards .card-image{
height: 200px;
overflow: hidden;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
border-radius: 6px 6px 0px 0px;
opacity: 0.91;
}


.potentialHideout {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 18px auto;

}


















/* trial */


.gradient-border {
  --borderWidth: 3px;
  background: #100f24;
  position: relative;
  border-radius: var(--borderWidth);
  height: 319px;
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


