<div>
  <section class="planetSection">
    <div class="caption">
      <h1>Welcome to Tara B</h1>
      <p style="color: #59b14a;">Select four Planets you'd like to Invade.</p>
    </div>

  <div class="availablePlanets">
    <div  *ngFor="let planet of planetDetails" id="{{planet.name}}" (click)="onPlanetSelect($event, planet)" #planets >
      <div class="potentialHideout" style="background-image: url('../../assets/img/{{planet.name}}.png')">
      </div>
      <button type="button" class="planetNames">{{planet.name}}</button>
    </div>
  </div>

  <div class="footerBtn">
    <a class="spaceVehicleBtn" #spaceVehicleBtn (click)="displayVehichles(); scroll(vehicleZone)">Space Vehicle <fa-icon icon="fighter-jet"></fa-icon></a>
    <h3 class="resetBtn" style="color: #cccccc" (click)="onPlanetReset()">Reset <fa-icon icon="redo"></fa-icon></h3>
  </div>

  <!-- <button type="button" class="btn btn-primary btn-lg primebtn" (click)="gameReset()">Reset <fa-icon icon="fighter-jet"></fa-icon></button> -->
  </section>

  <section #vehicleZone  id="spaceVehicleZone" class="gamespot" style="display: none;">
    <div class="gameRules">

      <div class="caption">
        <p style="color: #59b14a;">Hover on Planets to select Space Vehicle to invade these Planets</p>
        <p class="timeZone">
          <span style="border-radius: 10px 0 0 10px;">Time Taken</span>
          <span style="border-radius: 0 10px 10px 0;">{{timeTaken}}</span>
        </p>
      </div>

    </div><br>
    <app-planets [planetDetails]="invadePlanets"></app-planets>

    <div class="gameBtn">

      <div class="app" (click)="findFalcone()">
        <div class="message" #sendMsg>Send</div>
        <div class="send_btn" #sendBtn><fa-icon icon="fighter-jet"></fa-icon></div>
      </div>

    </div>

  </section>
</div>
